body
{
	font-family: Helvetica, Arial;
	font-size: 11pt;
	background-image: url('../images/background.png');
}

main
{
	width: 1000px;
	background-color: #AD3030;
	margin: auto;
}

header
{
    padding: 50px 50px 70px 50px;
    box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.6);
    overflow: auto;
    position: relative;
    z-index: 10;
    background-color: #B5C0CA;
}

.logo
{
	font-family: wisdom;
	font-size: 30pt;
	text-decoration: none;
	color: #003031;
	float: left;
	width: 30%;
}

h1
{
	display: inline;
}

.search
{
	width: 60%;
	float:right;
    padding-top: 5px;
}

.rounded-component
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #848484;
    outline:0;
}

.textbox
{
    margin-left: 3px;
    height:20px;
    width: 275px;
    padding-left: 2px;
    padding-right: 2px;
}

.multiplechoice
{
    margin-left: 3px;
    height: 25px;
}

.comment-box
{
    font-family: Helvetica, Arial;
    font-size: 11pt;

    padding-left: 3px;
    padding-right: 3px;
    margin-left: 20px;
    margin-top: 10px;
    width:95%;
    min-width:95%;
    max-width:95%;
    height:70px;
    min-height:70px;
    max-height:70px;
}

.comment-edit-box
{
    margin-left: 0px;
    margin-top: 0px;
    width:90%;
    min-width:90%;
    max-width:90%;
}

.add-description-list
{
    font-family: Helvetica, Arial;
    font-size: 11pt;

    width:91%;
    min-width:91%;
    max-width:91%;
}

.categories
{
    padding-top:30px;
    clear: both;
}

.category
{
    float:left;
    text-decoration: none;
    color:#0A0A0A;
    padding-left : 1px;
    padding-right: 1px;
    padding-top : 8px;
    padding-bottom: 6px;
    margin-top : 18px;
    margin-left : 4px;
    margin-right: 4px;
    margin-bottom: -10px;
    width : 15%;
    font-size: 15pt;
    text-align: center;
    border-radius: 5pt;
    /*background: #A5C0CA;*/
}

.category:hover
{
    background-color: #E7E7EF;
}

.content
{
    width: 688px;
    min-height: 800px;
    float: left;
    /*margin : auto;*/
    text-align: justify;
    padding : 10px 5px 0px 0px;
    background-color: #E7E7EF;
}

.content a:hover
{
    text-decoration: underline;
}

.component
{
    width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 0px;
    background-color : #CAD5DF;
    overflow: auto;
}

.subscribed
{
    background-color : #BDC8D1;
}

/*
.component:hover
{
	border-style:solid;
    border-color: #d83c3c;
    border-width: 2px;
    padding: 8px;
}
*/

.component a
{
    text-decoration: none;
}

.component-title
{
    font-size: 15pt;
    margin: 8px 25px 0px 0px;
    max-width: 450px;
    float:left;
    color : #c72b2b;
}

.component-title a
{
    color : #c72b2b;
}

.component-description
{
    margin-top: 20px;
    float:right;
    clear:right;
    width :93%;
}

.component-category
{
    font-size: 9pt;
    font-style: italic;
    color: #384c9c;
    /*clear:right;*/
    float:right;
    margin-right: 15px;
    margin-top: 10px;
}

.component-comments
{
    color:darkred;
    font-size: 10pt;
    clear:left;
    float:left;
    margin-left: 15px;
    margin-top: 10px;
}

.right-holder
{
    text-align: right;
    margin-right: 20px;
}

.component-rating
{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20pt;
    float: right;
    margin: 4px 20px 3px 0px;
}

.component-rating-index
{
    margin: 0px 20px 0px 0px;
}

.main-component
{
    margin-left : 30px;
    width: 86.7%
}

.list-margin
{
    margin-left: 15px;
}

.subscribe-icon
{
    height: 25px;
    width: 25px;
    margin-top:15px;
    float:left;
    clear:left;
}

.check-icon
{
    height: 25px;
    width: 25px;
    float:left;
    /*clear:left;*/
    margin: 0px 15px 0px 0px;
    text-decoration: none;
}


form td
{
    height: 30px;
    width: 80px;
}

aside
{
    width: 307px;
    min-height : 500px;
    float: right;
    /*background-color: #FFF;*/
    padding : 40px 0px 10px 0px;

    /*background-color: #E7E7EF;*/
    color: #EFC0C0;
}

aside a:hover
{
    text-decoration: underline;
}

.visitedLists
{
    padding-left: 5px;
}

.visitedLists td
{
	padding : 5px;
}

.visitedLists a:hover
{
    text-decoration: underline;
}

aside a
{
    text-decoration: none;
    /*color : #B70000;*/
    color: #E7EAED;
}

footer
{
	text-align: center;
	padding: 10px;
    background-color: #B5C0CA;
	color: #003031;
    clear:both;
    box-shadow: 0px -1px 7px 0px rgba(50, 50, 50, 0.6);
    position: relative;
    z-index: 10;
}

footer span
{
    font-family: wisdom;
}

@font-face {
    font-family: cylburn;
    src: url(../fonts/Cylburn.woff);
}

@font-face {
    font-family: wisdom;
    src: url(../fonts/Wisdom_Script_AJ.woff);
}


.formulario {
    text-align: center;
        
}

.botonFormulario{
  text-decoration: none;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 18px 43px;
/*  margin: 15px 10px;*/
  font-size: 1em;
  background: #d83c3c;
  color: #fff;
  
}

.panelFormulario input {
  border: 1px solid #d12a2a;
  color: #fff;
  background:#d83c3c;
  padding: 5px 10px 5px 5px;
  width: 85%;
  margin: 5px;
  font-size: 10pt;
}

.panelFormulario input:focus
{
    border: 1px solid #fff;
    outline:none;
}

.formulario
{
  float: center;
}

.mensajeBienvenida {
    margin: 0px 0px 10px 0px;
    color:#fff0f0;
    text-transform: capitalize;
    /*font-family: 'Open Sans';*/
    font-size: 25pt;
    text-align: center;
}

.mensajeFormulario {
    margin: 30px 0px 20px 0px;
    color:#fff0f0;
    font-size: 2em;
    text-align: center;
}

.botonAside
{
    text-align: center;
}
.botonAside button
{
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0 15px 0px;
    background: #d83c3c;
    color: #fff;
    font-size: 1em;
    width: 90%;
    margin: 15px 2px 15px 2px;
    text-align: center;
}

.botonAside button:hover{
  background: #d12a2a;
}

.rating {
    float:left;

    clear:left;
    margin:10px 30px;
    font-size:12pt;
    border: 0;
}

.rating:not(:checked) > input {
    clip:rect(0px,0px,0px,0px);
    position:absolute;
    height:1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:150%;
    line-height:1.2;
    color:#E7E7EF;
    text-shadow:1px 1px 1px 1px #c72b2b;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #c72b2b;
    text-shadow:1px 1px 1px 1px #c72b2b;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px 1px 1px #c72b2b;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px 1px 1px #c72b2b;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.comment-rating
{
    width: 10px;
    float:left;
    margin:0px 30px 0px 5px;
    font-size: 18pt;
    clear:left;
    
}

.arrow
{
    color:#535557;
}

.arrow:hover
{
    color:#c72b2b;
}

.comment
{
    margin: 5px 0px 0px 0px;
    width: 90%;
    float:left;
}

.user
{
    font-weight: bold;
    clear:both;
    float:left;
    margin:auto;
    margin-bottom:10px;
    width: 100%;
}

.user a
{
    color : #000;
}

.user-inline
{
    font-weight: bold;
    font-size: 11pt;
    color : #000;
    margin-left: 30px;
    text-transform: capitalize;
}

.forgot{
    float:right;
    margin-right: 23px;
    font-size: 10pt;
    margin-bottom: 0px;
}

.edit-field{
    width: 250px;
}

.logout
{
    display : block;
    text-align: center;
    margin-bottom: 20px;
}

.error
{
    text-align: center;
    display: block;
    font-size: 27pt;
    font-family: wisdom;
    color: #003031;
    margin: 20px 0px 0px 0px;
}

.errormsg
{
    text-align: center;
    color: #003031;
    font-size: 12pt;
    font-style: italic;
}

.queryMessage
{
    color: #003031;
    text-align: center;
}

.queryMessage h4
{
    font-weight: bold;
}

.queryMessage
{
    display: block;
    font-size: 12pt;
    font-style: italic;
}

.my-button
{
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    border:1px solid #942911;
    display:inline-block;
    color:#ffffff;
    padding:3px 7px;
}

.my-button:hover
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
}