//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^luettelo-jjg.rhcloud.com/[nc]
RewriteRule ^(.*)$ http://www.luettelo-jjg.rhcloud.com//$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(png|css|js)$">
Header set Cache-Control "max-age=36288000"
</FilesMatch>
 

<IfModule mod_expires.c>
    ExpiresActive on
 
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
</IfModule>